*[flex] {
  display: flex;
}

*[wrap] {
  flex-wrap: wrap;
}

*[col] {
  flex-direction: column;
}

*[row] {
  flex-direction: row;
}

*[jcenter] {
  justify-content: center;
}

*[acenter] {
  align-items: center;
}


*[fmain] {
  color: var(--font-primary)
}

*[fsec] {
  color: var(--font-secondary)
}

*[nounderline] {
  text-decoration: none;
}


*[hover] {
  transition: .15s;
  &:hover {
    box-shadow: var(--shadow-hovered);
  }
}