.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--color-bg);
  backdrop-filter: blur(26px);

  z-index: 99;

  .loader-container {
    width: fit-content;
    height: 40px;

    display: flex;
    gap: 5px;

    > div {
      width: 40px;
      height: 100%;

      background-color: var(--font-primary);
      box-shadow: 0 0 5px var(--font-primary);
    }
  }
}